body{
  background:#f8f9fa;
  margin:0; 
  padding:0;
}
#head{
  background-color:#87ceeb;
  margin-bottom: 15px;
}
.busca{
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}
